<div class="col-xs-12 pull-right">
  {{#unless isLiked}}
    <div class="like action" {{action "toggleLike" session.id}}><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
  {{else}}
    <div class="liked action" {{action "toggleLike" session.id}}><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
  {{/unless}}
</div>