@import "ember-bootstrap/bootstrap";
@import "font-awesome";

// Vars

$green: #00BF90;
$blue: #0077C0;
$purple: #9013FE;
$red: #F95E56;
$orange: #F5A623;

.session-item {
  @include make-sm-column(6);
  @include make-lg-column(3); 

  &.all {
    @include make-sm-column(12);
    @include make-md-column(12);
  }
}
.session {
    
  &.devops .panel-heading {
    background: lighten($orange, 40%);
    border-color: $orange;
    color: darken($orange, 20%);
  }

  &.business .panel-heading {
    background: lighten($red, 30%);
    border-color: $red;
    color: darken($red, 10%);
  }
  
  &.code .panel-heading {
    background: lighten($blue, 50%);
    border-color: $blue;
    color: darken($blue, 10%);
  }

  &.design .panel-heading {
    background: lighten($purple, 40%);
    border-color: $purple;
    color: darken($purple, 10%);
  }

  &.all .panel-heading {
    background: lighten($green, 50%);
    border: 0 solid $green; 
    color: darken($green, 10%);
  }

  .track {
    &:before {
      @include fa-icon();
      padding-right: 5px;
    }

    &.devops {
      &:before {
        content: $fa-var-code-fork;
      }
    }

    &.business {
      &:before {
        content: $fa-var-coffee;
      }
    }
    
    &.code {
      &:before {
        content: $fa-var-code;
      }
    }

    &.design {

      &:before {
        content: $fa-var-photo;
      }
    }
    &.all {
      display: none;
    }
  }
  .panel-heading {
    @media (min-width: $screen-sm-min) {
      min-height: 115px;
    }
    @media (min-width: $screen-md-min) {
      min-height: 100px;
    }
    @media (min-width: $screen-lg-min) {
      min-height: 0px;
    }
  }

  .panel-body {
    padding: 15px 0px;
    font-size: 14px;
  }

  &.all {
    .panel-heading {
      @media (min-width: $screen-sm-min) {
        min-height: 0;
      }
      @media (min-width: $screen-lg-min) {
        min-height: 0;
      }
    }
    .panel-body {
      display: none;
    }

    .track,
    .room,
    .level {
      display: none;
    }
  }

  
  .level {
    font-size: 90%;
    padding-bottom: 5px;
  }

  .track {
    font-size: 90%;
    padding-bottom: 5px;
  }

  .room {
    text-transform: uppercase;
    text-align: right;
    font-size: 85%;
    padding-bottom: 5px;
  }

  .actions {
    text-align: right;
    font-size: 25px;

    .action {
      cursor: pointer;
    
      &:hover,
      &:focus,
      &:active {
        color: gray;
      }

      &.liked {
        color: $green;
      }
    }
  }

  &.all .actions {
    display: none;
  }

  .body {
    padding-top: 20px;
  }
}

