<h2>THE SUMMIT</h2>
<p>The 2-day conference will feature sessions covering a range of Drupal topics from site building, development and code, design and theming, to business and project management. Most sessions will be intermediate or advanced with some suitable for beginners too! Aside from planned presentations, we'll also have space for breakout sessions, and of course there will be lots of time to catch up with your Pacific Northwest Drupal friends.</p>
{{session-list dates=dates}}